{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="results-container">
    <div>
        <br>
        <h4>Existing Admins</h4>
        <table>
            <tr>
                <th>Name</th>             
                <th>Action</th>
            </tr>

            {% for user in data1 %}
                <tr>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>                 
                    <td>
                        <form method="post" action="{{ url_for('views.remove_admin', user_id=user.id) }}">
                            <button type="submit" class="inform-btn">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <h4>Add a new Admin</h4>
        <form method="post" action="{{ url_for('views.add_admin') }}">
            <table>
                <tr>
                    <th>Name</th>             
                    <th>Action</th>
                </tr>          
                <tr>
                    <td>
                        <select id="people" name="people">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </td>                   
                    <td>
                        <button type="submit" class="inform-btn">Add</button>
                    </td>
                </tr>        
            </table>
        </form>

        
    </div>


    <br>
    <h4>Remove User</h4>
    <form method="post" action="{{ url_for('views.remove_user') }}">
        <table>
            <tr>
                <th>Select User</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>
                    <select id="removePeople" name="removePeople">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="submit" class="inform-btn">Remove</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}